@{
    ViewData["Title"] = "About me";
}

<div class="container position-absolute top-50 start-50 translate-middle col-sm-12">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <h1 class="text-end"><b>Welcom to my website!</b></h1>
            <h2 class="text-end"> Who am I?</h2>
            <h4 class="text-end">I'm a beginner .NET developer and want to introduce my skills here</h4>
        </div>  
        <div class="col-sm-6 text-left">
            <h1 class="text-center"><b>My picture</b></h1>
        </div>              
    </div>
</div>

