@model CV.Models.ViewModels.ContactViewModel

@{
    ViewData["Title"] = "Contact Me";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
        <h1 class="text-start ms-3 mt-4"><b> Contact Me </b></h1>
        <hr class="div-contact-me-textarea" />
        <form asp-controller="Contact" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-3 div-contact-me-input">
                <h4 class="text-body"> First name: </h4>
                <input type="text" asp-for="FirstName" class="form-control form-control-lg"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 div-contact-me-input">
                <h4 class="text-body"> Last name: </h4>
                <input type="text" asp-for="LastName" class="form-control form-control-lg" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 div-contact-me-input">
                <h4 class="text-body"> Email: </h4>
                <input type="text" asp-for="Email" class="form-control form-control-lg" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 div-contact-me-textarea">
                <h4 class="text-body"> Text: </h4>
                <textarea type="text" asp-for="Text" class="form-control form-control-lg"  rows="4"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <button class="btn btn-primary mb-5" type="submit"><h4> Send </h4></button>
            </div>
        </form>
</div>