* {
    margin 0;
    padding 0;
}

footer {
    width: 100%;
    background-image: repeating-linear-gradient(90deg,MediumSpringGreen,DodgerBlue);
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.background-main {
    background-image: repeating-linear-gradient(50deg,DodgerBlue,MediumSpringGreen);
}
