footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-image: repeating-linear-gradient(90deg,#009eff,#00f38d);
}

.main-body {
    background-image: repeating-linear-gradient(90deg,#009eff,#00f38d);
}
html {
    font-size: 14px;
}

html {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.background-main {
    background-image: repeating-linear-gradient(90deg,#00f38d,#009eff);
}

.background-nav {
    background-image: repeating-linear-gradient(90deg,#009eff,#00f38d);
}

.hero-cv {
    background-image: repeating-linear-gradient(90deg,#009eff,#00f38d);
    border-radius: 62% 38% 64% 36% / 55% 30% 70% 45%;
    max-height: 350px;
}

hr {
    background-image: linear-gradient(90deg, #009eff, #00f38d);
    height: 8px;
    border: 0;
}

@if $enable-transitions {
    @keyframes progress-bar-stripes {
        0% {
            background-position-x: $progress-height;
        }
    }
}